.bicicletas-lista{
    padding-top: 120px;
    padding-bottom: 120px;
}

#home .bicicletas-lista{
    padding-top: 60px;
}

.bicicletas-lista h2{
    margin-bottom: 20px;
    
}

.bicicletas-lista ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    /* Se quiser ele quebrando */
  /* flex-wrap: wrap; */
  /* Se quiser ele com o scroll */
}

#bicicleta .bicicletas-lista ul {
    padding: 0px 0px 20px 0px;
}

#home .bicicletas-lista ul{
    max-width: 1400px;
    padding: 20px;
}

.bicicletas-lista li{
    flex: 1;
    min-width: 280px
}

.bicicletas-lista a{
    display: block;
}

.bicicletas-lista img{ 
    margin-bottom: 16px;

}

.bicicletas-lista h3{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bicicletas-lista h3::before{
    content: "";
    height: 8px;
    width: 12px;
    background-color: var(--cor-p1);
    margin-right: 8px;
    display: inline-block;
    transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before{
    width: 24px;
}

.bicicletas-lista li span{
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bicicletas-lista{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .bicicletas-lista ul {
        gap: 20px;
    }
}